<Files ".htaccess">
deny from all
</Files>

# Кодировка
AddDefaultCharset utf-8
AddCharset utf-8 *

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
</IfModule>

<ifModule mod_php.c>
# КОДИРОВКА ПО УМОЛЧАНИЮ
php_value	default_charset		utf-8
# ОТОБРАЖЕНИЕ ОШИБОК
php_value	display_errors	0
</ifModule>

